/*contact us*/
.contact-content {
  text-align: left;
  margin: auto 20px;
}

.contact-content ul {
  display: block;
}

.contact-content li {
  padding: 10px;
  list-style: none;
  margin-top: 20px;
}

.contact-alt {
  display: inline;
  font-size: 1.5em;
}
