/*jackets*/
.info-img {
  background-image: url(/images/gage-walker-6LT0b6LmCt4-unsplash.jpg);
  background-color: #ccc;
  height: 600px;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.info-img-text {
  background-color: #feb41c;
  padding-top: 5px;
}

.info-img-text p {
  padding-bottom: 10px;
}

.jackets-features {
  padding: 20px 10px 0 10px;
  margin-bottom: 30px;
  height: 350px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 #4b5f6d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.5s;
}

.jackets-features:hover {
  box-shadow: 0 2px 10px 0 #4b5f6d;
}

.jackets-features img {
  border-radius: 5px;
  max-height: 200px;
  max-width: 80%;
}

.cta {
  font-size: 1em;
  margin-bottom: 10px;
}

.jackets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h1 {
  margin: 0;
}

.jackets-features h2 {
  margin: 0;
  font-size: 1.2em;
}

.jackets-features p {
  margin: 0;
  font-size: 1em;
}

.jackets-page p {
  color: #4b5f6d;
}
