/*jackets*/
.info-img {
  background-image: url(/images/gage-walker-6LT0b6LmCt4-unsplash.jpg);
  background-color: #ccc;
  height: 600px;
  background-position: center;
  background-size: cover;
}

.info-img-text {
  background-color: #feb41c;
  padding-top: 5px;
}

.info-img-text p {
  padding-bottom: 10px;
}

.jackets-features img {
  width: 100%;
  border-radius: 10px;
}

.jackets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 50px;
  text-align: center;
}

h1 {
  margin: 0;
}

.jackets-features h2 {
  margin: 0;
}

.jackets-features p {
  margin: 0;
}

.jackets-page p {
  color: #4b5f6d;
}
