@font-face {
  font-family: "Palatino";
  src: url(../images/Palatino.ttf) format(truetype);
}

body {
  margin: 0px auto;
  width: 100%;
  background-color: #5e7c88;
  min-height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

header {
  margin: 0 auto;
  width: 100%;
  grid-row: 1;
  height: 78px;
}

nav {
  background: rgb(255, 255, 255, 0.8);
  margin: auto;
  max-width: 1900px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.fa-search {
  display: none;
}

.fa-shopping-basket,
.fa-info-circle,
.fa-home {
  color: #000;
}

ul {
  margin: 0px;
  padding: 0px;
}

.icons {
  font-size: 2em;
  padding-right: 30px;
}

.fa-search,
.fa-info-circle,
.fa-shopping-basket {
  padding: 0px 10px;
}

main {
  max-width: 500px;
  margin: auto;
  text-align: center;
  grid-row: 2;
}

h1,
h2,
h3 {
  font-family: "Palatino", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: #4b5f6d;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

.logo {
  margin-bottom: 100px;
  background: rgb(255, 255, 255, 0.4);
  border-radius: 40px;
  padding: 10px;
}

main a {
  text-decoration: none;
}

.cta {
  display: block;
  border: 3px solid #5e7c88;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 0px auto;
  max-width: 150px;
  text-align: center;
  font-size: 1.5em;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: #4b5f6d;
  transition: background-color 1s;
  transition: border-radius 0.5s;
}

.cta:hover {
  background-color: #5e7c88;
  border-color: #feb41c;
  border-radius: 10px;
  font-family: "Palatino", "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
  cursor: pointer;
}

.cta-big {
  display: inline-block;
  border: 3px solid #feb41c;
  padding: 10px auto;
  max-width: 300px;
  margin: 50px 30px;
}

.cta-big:hover {
  background-color: #feb41c;
  border-color: #5e7c88;
}

footer {
  justify-content: center;
  color: #fff;
  font-size: 1em;
  grid-row: 3;
  background-color: #5e7c88;
  display: grid;
  grid-template-areas:
    "h2 h2"
    "links so-me"
    "link-delivery link-coop";
  box-shadow: 0 3px 10px 0 #4b5f6d;
}

footer h2 {
  margin: auto;
  padding: 30px 0px;
  color: #fff;
}

footer p {
  color: #fff;
  margin: 0px;
  padding-left: 20px;
}

.so-me {
  margin: auto;
}

.so-me i {
  margin-bottom: 20px;
  padding: 10px;
}

.links {
  margin: auto;
  padding-top: 0px;
}

footer .fa-comments {
  padding-right: 20px;
  color: #fff;
}

.link-coop,
.link-delivery {
  padding: 0px 30px 30px 30px;
  text-decoration: none;
  color: #000000;
}

footer a:hover {
  text-decoration: underline;
}

footer i:hover {
  color: #feb41c;
  cursor: pointer;
}

h2 {
  grid-area: h2;
}
.so-me {
  grid-area: so-me;
}
.links {
  grid-area: links;
}
.link-delivery {
  grid-area: link-delivery;
}
.link-coop {
  grid-area: link-coop;
}
